#tab_iz_interface .gradio-dataframe .controls-wrap {
    flex-direction: row-reverse;
    justify-content: space-between;
}

/* first column min width */
#tab_iz_interface  th {
    width: 0;
}