#tab_iz_interface .gradio-dataframe .controls-wrap {
    flex-direction: row-reverse;
    justify-content: space-between;
}

/* first column min width */
#tab_iz_interface th:first-child  {
    flex: 0 0 0%;
    width: 0;
}
.gradio-container-3-23-0 .gradio-dataframe input, #infzoom_prompt_table input {
    height: 95%;
    width: 95%;
}
.gradio-container-3-23-0 .gradio-dataframe .scroll-hide, #infzoom_prompt_table .scroll-hide  {
    scrollbar-width: unset;
}
#component-2115, #component-2065 .gradio-column:nth-child(1) {
    flex-grow: .66 !important;
}
#component-2115 .gradio-video, #component-2065 .gradio-column:nth-child(1) .gradio-video {
    height: auto !important;
}